/*** Variables include ***/
@import "variables";
/*** Main structure styles ***/
.container {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  box-shadow: 1px 1px 30px #000000;

  .aside {
    -webkit-flex: 1;
    flex: 1;
    -webkit-flex-basis: 25%;
    flex-basis: 25%;
    background-color: $asideBackgroundColor;
    padding: 2rem;
    text-align: center;
    border: 8px solid $asideBorderColor;
    color: $textColor;

    h1 {
      font-size: 2.5rem;
    }

    img {
      border: 2px solid $borderColor;
      border-radius: 50%;
      box-shadow: 3px 3px 5px #401934;
      width: 100%;
      max-width: 250px;
      min-width: 200px;
      margin: 1rem 0;
    }

    .social-links {
      a {
        text-decoration: none;
        color: $textColor;
      }

      ul {
        li {
          padding: 0.5rem 0;
          border-bottom: 1px solid $borderColor;
        }
      }
    }

    .basic-info {
      margin: 2rem 0 0 0;

      h3 {
        margin: 0.5rem 0;
      }

      p {
        margin: 0;
      }

      a {
        color: $textColor;
      }
    }
  }

  .main {

    -webkit-flex: 3;
    flex: 3;
    -webkit-flex-basis: 75%;
    flex-basis: 75%;

    .filter {
      background-color: rgba($mainBackgroundColor, .8);
      width: inherit;
      height: 100%;
    }

    .main-info {
      padding: 2rem;
      color: $textColor;

      p{
        font-weight: 200;
      }
      ul {
        margin-top: -0.8rem;
        margin-bottom: 1rem;

        li {
          font-weight: 200;
          margin-left: 1.5rem;
          font-size: .9rem;
        }
      }

    }
  }
}

@media all and (max-width: 700px) {
  .container {
    flex-direction: column;

    .aside, .main {
      width: 100%;
    }

    .aside {
      .social-links
      {
        ul {
          li {
            padding: 0.5rem;
            display: inline-block;
            border: none;
          }
        }
      }
    }
  }

}

